        .sansserif {
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background-color: #f5f5f5;
        }

        input {
            font-size: 23px;

        }

        input:focus {
            border: 2px solid #4f8dff;
            outline-color: #4f8dff;
        }

        .button {
            background-color: #4f8dff;
            /* Green */
            border: none;
            color: white;
            padding: 8px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 17px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;

            border: 1px solid rgb(63, 63, 63);
        }

        th,
        td {
            text-align: left;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }

        tr:nth-child(odd) {
            background-color: #c7c7c7;
        }

        footer {
            position: absolute;
            margin-top: 300px;
            margin-left: 500px;
        }

        a {
            color: whitesmoke;
            margin-right: 15px;
        }

        a:visited {
            color: whitesmoke;
        }

        a:hover {
            color: whitesmoke;
        }